
<!-- <nav class="side">
    <div>
        <h1>home | logo</h1>
    </div>
    <ul>
        <li><a routerLink="../home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="../addmusic" routerLinkActive="active">Add Music</a></li>
        <li><a routerLink="../addalbum" routerLinkActive="active">Add Album</a></li>
        
        <li><a routerLink="../playlist" routerLinkActive="active">My PlayList</a></li>
    </ul>
    <div>
      <select> categories
          <option value="">select category</option>
      </select>
      <li><a routerLink="../category" routerLinkActive="active">JAZZ</a></li>
      <li><a routerLink="../category" routerLinkActive="active">POP</a></li>
    </div>
</nav> -->
<div class="sidebar">
    <a routerLink="../home" routerLinkActive="active" class="active" href="#home">Home</a>
    <a routerLink="../addmusic" routerLinkActive="active" href="#news">add music</a>
    <a routerLink="../addalbum" routerLinkActive="active" href="#contact">Add Album</a>
    <a routerLink="../playlist" routerLinkActive="active" href="#about">My playlist</a>
  </div>
  
