<div>
    <nav class="flex">
        <div class="inputnav"> 
            <input type="search" placeholder="search">
            <li><a routerLink="" (click)="h" routerLinkActive="active">search</a></li>
        </div>
        <ul *ngIf="auth=== false">
            <li><a routerLink="../login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="../signup" routerLinkActive="active">signup</a></li>
        </ul>
        <!-- *ngIf="auth=== true" -->
        <ul >
            <li><a routerLink="../profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="" routerLinkActive="active">Logout</a></li>
        </ul>
    </nav>
    
   
</div>
