<!-- 
<div> 
    <div>
        <div>
            <img src="">
        </div>
        <div>
            <h3>username</h3>
            <h3>email</h3>
        </div>
    </div>
    <div>
        <button (click)="edit()">
            edit
        </button>
    </div>
    <form *ngIf="auth">
        <label>username </label>
        <input type="username" name="username" id="username" (input)="input($event)" placeholder="username">
        <label>email </label>
        <input type="email" name="email" id="email"(input)="input($event)" placeholder="email">
        <label>password </label>
        <input type="password" name="password " id="password " (input)="input($event)" placeholder="password ">
        <label>date </label>
        <input type="date" (input)="input($event)" name="date">
        <button (click)="onClick($event)"></button>
        <a routerLink="../login" routerLinkActive="active">update</a>
    </form>
</div> -->
<div class="container">
    <div class="card">
      <img src="https://images.indianexpress.com/2021/11/Travis-Scott-ap-1200by667.jpeg" alt="Person" class="card__image">
      <p class="card__name">travis scott</p>
      <div class="grid-container">
  
        <div class="grid-child-posts">
          156 Post
        </div>
  
        <div class="grid-child-followers">
          1012 Likes
        </div>
        </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>
      <button class="btn draw-border" (click)="followF()" >  {{ notfollowed == true ? 'follow' : 'unfollow' }}</button>
      <button class="btn draw-border">Message</button>
  
    </div>
   <div class="list" >
    <ul>
      <li>Adele</li>
      <li>Agnes</li>
      <li>Billy</li>
      <li>Bob</li>
      <li>Calvin</li>
      <li>Christina</li>
      <li>Cindy</li>
    </ul>
   </div> 
        <!-- <div class="card">
      <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" alt="Person" class="card__image">
      <p class="card__name">Murray Reeve</p>
      <div class="grid-container">
  
        <div class="grid-child-posts">
          305 Post
        </div>
  
        <div class="grid-child-followers">
          2643 Likes
        </div>
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
    </div> -->
    <!-- <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">
  
        <div class="grid-child-posts">
          902 Post
        </div>
  
        <div class="grid-child-followers">
          1300 Likes
        </div>
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>
      <button class="btn draw-border">Follow</button>
      <button class="btn draw-border">Message</button>
    </div>
  </div>
   -->


  