

     <div class="login">
        <div class="form">
          <h2>Welcome</h2>
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <input type="submit" value="Sign In" class="submit">
        </div>
      </div>



<!-- 
        <div class="forum" >
        <form action="#" class="form">
            <h1>LOGIN</h1>
            <input type="text" placeholder="Username" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <button class="btn">LOGIN</button>
          </form>
    </div>
 -->
<!-- 
    <form >
   
    <label>email </label>
    <input type="email" name="email" id="email" placeholder="email">
    <label>password </label>
    <input #password type="password " name="password " id="password " placeholder="password ">
    <a routerLink="../signup" routerLinkActive="active">create account</a>
    <a routerLink="../home" routerLinkActive="active">Login</a>
</form>
 -->


 <!-- schema -->

