<p>signup works!</p>
<form >
    <label>username </label>
    <input type="username" name="username" id="username" (input)="onKey($event)" placeholder="username">
    <label>email </label>
    <input type="email" name="email" id="email"(input)="onKey($event)" placeholder="email">
    <label>password </label>
    <input type="password" name="password " id="password " (input)="onKey($event)" placeholder="password ">
    <label>date </label>
    <input type="date" (input)="onKey($event)" name="date">
    <button (click)="on($event)"></button>
    <a routerLink="../login" routerLinkActive="active">Login</a>
</form>